{{#view Metro.Page secondary=true span=12 hLevel=1 title="Dashboard" iconClass="icon-bars"}}
  {{#view Metro.PageRegion}}
    {{#view Metro.Page snapped=true}}
      Account Context &nbsp;
      <select>
        <option value="1">mmuddasir</option>
        <option value="2">PrimeRevenue</option>
      </select>
      <table class='hovered'>
        <thead>
          <tr><th><b>Repositories</b></th></tr>
        </thead>
        <tbody>
          <tr><td>bootstrap-rails-app</td></tr>
          <tr><td>ch3_repo</td></tr>
          <tr><td>coffeescript-koans</td></tr>
          <tr><td>CoffeeScript_tests</td></tr>
          <tr><td>CoffeeScript_Todo_App</td></tr>
          <tr><td>commits-report</td></tr>
          <tr><td>convoy</td></tr>
          <tr><td>CST</td></tr>
          <tr><td>demo_app</td></tr>
          <tr><td>Ember-Application</td></tr>
          <tr><td>ember-brunch-coffee-sass</td></tr>
        </tbody>
      </table>
    {{/view}}
    {{#view Metro.Page fill=true}}
    {{/view}}
  {{/view}}
{{/view}}
